    /* CSS */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

    body {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

    *,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body::-webkit-scrollbar {
        width: 0;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    body {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    a {
        text-decoration: none;
    }

    .nowrap {
        white-space: nowrap;
    }

    /* END OF CSS  */

    /* preloader */
    .loader {
        position: fixed;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        background-color: #65647C;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loadergif {
        opacity: 0.3;
        width: 10%;
        border-radius: 10%;
    }

    /* CONS */
    .con {
        margin: 0 15%;

    }

    /* END OF CONS */
    /* --------------------------------------------------------- */
    /* HEADER */
    body {
        background-color: #B7DEF3;
    }
    .header--wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        height: 75px;
        background-color: rgba(0, 0, 0, 0.35);
        align-items: center;
    }

    a {
        color: black;
    }

    .start {
        display: flex;
        justify-self: flex-start;
        gap: 5px;
        margin-left: 5vh;
    }

    .start a {
        display: flex;
        padding: 1vw;
        border-radius: 1em;
        transition: all .5s ease;
        color: white;
    }

    body .start a:hover {
        background-color: hsl(0, 0%, 80%);
        color: hsl(0, 0%, 50%)
    }
    .start a:nth-child(2) {
        background-color: rgb(131, 74, 74);
    }

    .center img {
        height: clamp(3vh, 5vh, 6vh);
    }

    .center {
        grid-column-start: 2;
        justify-self: center;
        margin-right: 15px;
    }

    .end {

        justify-self: flex-end;
        margin-right: 5vh;
    }

    .end a {
        color: black;
        padding: 0.75rem 2em;
        border-radius: 0.5rem;
        background-color: rgb(174, 174, 248);
    }
    /* END OF HEADER! */
    

    section#main{ /* MAINMAINMAIN */
        display: flex;
        place-content: center;
    }
    .slider--wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "a  b";
    }

    .slider--wrapper-unit { 
        display: flex;  
        align-items: center;
        justify-content: center;
    }
    .item-1 img {
        border-radius: 50%;
    }
    .item-1 {
        padding: 5vw;
        grid-area: a;
    }
    .item-2 {
        grid-area: b;
    }
    .slider--wrapper-unit img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .slider--content h4{
        font-size: 4rem;
    } 
    .slider--content p{
        font-size: 2rem;
    }   
    /* MAINMAINMAIN *//* MAINMAINMAIN *//* MAINMAINMAIN *//* MAINMAINMAIN */
    section#about {
        padding: 35px;
        background-color: #DBA39A;
        text-align: center; 
    }
    section#about h1{
        background-color: #916a64;
        border-radius: 35px;
    }
    section#about ol {
        list-style-type: none;
    }
    section#about li {
        color: rgba(0, 0, 0, 1);
        font-weight: 900;
    }
    section#about p {
        color: rgba(0, 0, 0, 0.55);
    }
    .about--wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows:  1fr;
        gap:35px;
    }
    .about--start{
        display: flex;
        gap: 35px;
        flex-direction: column;
        background-color: #B7DEF3;
        padding: 35px;
        border-radius: 35px;
    }
    .about--end {
        display: flex;
        flex-direction: column;
        gap:35px;
    }
    .newclient--wrapper {
        padding: 35px;
        display: flex;
        background-color: #B7DEF3;
        border-radius: 35px;

    }
    section#price {
        padding: 35px;
        text-align: center;
    }
    .price--wrapper{
        
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
    }
    .tarif {
        margin: 10px;
        border-radius: 15px;
        padding: 10px;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border: 1px solid black;
    }
    .tarif h2{
        padding: 5px;
        background-color: #DBA39A;
        border-radius: 15px;
    }

/* section#revs *//* section#revs *//* section#revs *//* section#revs */
    section#revs {
        width: 100%;
        min-height: 50vh;
        background-color: #65647C;
        padding: 35px;
        text-align: center;
    }
    #revs h1 {
        margin-bottom: 25px;
    }
    .card--name {
        font-weight: 600;
    }
    .revs--wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
        grid-template-rows: repeat(auto-fit, minmax(180px,1fr));
        place-content: center;
        gap:15px;
    }
    .revs--item {
        justify-self: center;
        max-width: 300px;
        border-radius: 35px;
        padding: 15px;
        background-color: #9c9bc5;
    }
    .card--image { 
        margin: 0 auto;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-bottom: 15px;
        
    }
    .card--image img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-items: center;
    }
/* section#revs *//* section#revs *//* section#revs */
    /* section#faq *//* section#faq *//* section#faq */
    section#faq{
        width: 100%;
        min-height: 100vh;
        background-color: #76a57e;
        text-align: center;
        padding: 25px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .arrdown{
        transform: rotate(45deg);
        width: 40px;
        transition: transform .5s ease;
    }
    .faqtitle {
        font-size:2rem;
        margin-bottom: 2rem;
    }
    .faq--block{
        margin-top: 2rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #fff;
        cursor:pointer;
    }
    .qtions{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    .qtions h3 {
        font-size: 1.8rem;
        padding: 5px;
    }
    .faqanswer p{
        padding-top: 1rem;
        font-size: 1.4rem;
        line-height:1.6;   
        text-align: left;     
    }
    .faqanswer {
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s ease;
    }
    .faq--block.active .faqanswer {
        max-height: 300px;

    }
    .faq--block.active .arrdown {
        transform: rotate(-135deg);
    }
/* section#faq *//* section#faq *//* section#faq *//* section#faq */












        /* LOGIN PAGE */
    .login--wrapper {
        margin-top: 5%;
        display: flex;
        place-content: center;
    }
    form {
        display: grid;
        grid-template-columns: minmax(1fr);
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
        text-align: center;
        font-size: 2rem;
        gap:8%;
        height: 60vh;
    }
    form input {
        font-size: 1.5rem;
        background-color: transparent;
        padding: 5px 10px;
        border: 0;
        border-bottom: 1px solid black;
    }
    form input:focus-visible {
        border: 0;
        outline: 0;
    }
    form .submit{
        cursor: pointer;
    }
    form a {
        color:rgba(0, 0, 0, 0.6);
    }
    form a:hover, form a:focus {
        color:rgba(0, 0, 0, 1);
        text-decoration: underline;
    }
    #wbn{
        padding: 1px;
        font-size: 1rem;
    }
    .middlename{
        display: flex;
        gap:3%;
    }
    .middlename input:last-child {
        width: 100%;
    }

    @media screen and (min-width: 320px) and (max-width:480px)
    /* PHONE */
        {
        .con {
            margin: 0px;
        }
        .end a{
            padding: 2vw;
        }
        .end {
            margin-right: 5vw;
        }
        .start {
            display: none;
        }
        .slider--wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2,50vh);
            grid-template-areas: "a" "b";
        }
        
        section#main{
            background-color: #DBA39A;
        }
        section#about {
            display: none;
        }
        .price--wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto-fit,1fr);
        }
    }
    @media screen and (min-width: 481px) and (max-width: 769px)
    /* IPADS AND TABLETS */
        {
        .start {
            display: none;
        }
        .con {
            margin: 0;
        }
        
    }
    @media screen and (max-width: 850px) {
        .about--wrapper {
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows:  1fr 1fr ;
            gap:35px;
        }
        .price--wrapper{
            grid-template-columns: 1fr;
        }
        .tarif {

        }
    }